doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Escola ACME
        link(rel='stylesheet', href='style.css')
        link(rel='shortcut icon', href='icone.png')
    body
        header
            h1 Escola ACME
        main
            nav
                button(onclick="window.location.href='/'") Turmas
                button(onclick="window.location.href='/aluno'") Alunos
                button(onclick="window.location.href='/professores'") Professores
            div(class="container")
                each turma in turmas
                    div(class="card")
                        p(class="titulo")
                            b Turma:
                            i #{turma.abreviacao}
                        p(class="dados") #{turma.nome}
                        p(class="dados")
                            b Id da turma:
                            i #{turma.id}
                        button Detalhes
        footer
            h2 By Prof. Wellington